.card {
    margin-top: 50px;
    margin-left: 30px;
    border: 2px solid #353b48;
    background-color: #353b48;
    color: white;
    width: 350px;
}

.header {
    margin-top: 10px;
}

.btn-action {
    background: none;
    border: 2px solid #94e4af;
    margin-top: 10px;
    color: white;
}