<div class="container" *ngFor="let todo of todos">
  <div cdkDropList id="{{todo.status}}" [cdkDropListData]="todo.subtasks" [cdkDropListConnectedTo]="connectedTo"
    class="todo-list" (cdkDropListDropped)="onDrop($event)">
    <div class="todo-title">
      {{todo.title}}
      <button type="button" class="btn btn-outline-light" (click)="openSubtaskModal(todo)">+</button>
    </div>
    <div class="todo-block" *ngFor="let subtask of todo.subtasks" cdkDrag>{{subtask.content}}</div>
  </div>
</div>
<app-add-subtask></app-add-subtask>