<form class="col-lg-6 offset-lg-3">
    <div class="form-row">
        <div class="col-md-9 mb-3">
            <input type="text" class="form-control" id="validationDefault01" placeholder="First name">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-9 mb-3">
            <input type="text" class="form-control" id="validationDefault01" placeholder="Last name">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-9 mb-3">
            <input type="text" class="form-control" id="validationDefault01" placeholder="Email">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-9 mb-3">
            <input type="password" class="form-control" id="validationDefault01" placeholder="Password">
        </div>
    </div>
    <button type="button" class="btn btn-outline-light" type="submit">Submit form</button>
</form>