<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Subtask</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="subtaskForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Content" id="content" formControlName="content">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-light" type="text" (click)="onSubmit()">Create</button>
    </div>
  </ng-template>