/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.grid-container {
    display: grid;
    grid-template-columns: 150px 1fr 100px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "menu menu menu"
    "nav content side"
    "footer footer footer";
    height: 100vh;
  }

  app-menu {
    grid-area: menu;
  }
    
  app-sidebar {
    grid-area: nav;
  }

  app-login,
  app-welcome,
  app-list-todos {
    grid-area: content;
    padding: 25px;
  }
  
  app-footer {
    grid-area: footer;
  }


@media (max-width: 991px) {
  app-sidebar {
    margin: 0;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "menu"
      "sidebar"
      "content"
      "footer";
    grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
  }
}